<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= docTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/mobile-nav.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="icon" href="/img/ico/icon.png">
  <script defer src="/js/main.js"></script>
  