<%- include('includes/head.ejs') %>
  <style>
    h1, h2 {
      max-width: 90%;
      margin: auto;
      margin-top: 100px;
      text-align: center;
    }
    h2 {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <%- include('includes/nav.ejs') %>
  <main>
    <h1>404</h1>
    <h2>Oops! PAGE NOT FOUND!</h2>
<%- include('includes/end.ejs') %>