<%- include('includes/head.ejs') %>
  <style>
    h1, h2, p {
      max-width: 90%;
      margin: auto;
      margin-top: 100px;
      text-align: center;
    }
    h2 {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <%- include('includes/nav.ejs') %>
  <main>
    <h1>500</h1>
    <h2>서버에 오류가 발생했습니다.</h2>
    <p>불편을 드려 죄송합니다. 금방 고칠 수 있도록 하겠습니다!</p>
<%- include('includes/end.ejs') %>