#cart_intro, #cart {
  max-width: 1050px;
  margin: 30px auto;
  text-align: center;
}

.cart_title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 0;
}

table {
  width: 100%;
  border-radius: 15px;
  background-color: #f2f2f2;
  border-collapse: collapse;
}

thead {
  border-radius: 15px;
}

th {
  font-weight: 300;
  padding: 14px 0;
}

.product_row {
  height: 140px;
  border-top: 2px solid #e4e4e4;
}

.product_qty__input {
  padding: 5px;
  width: 60px;
  height: 36px;
  outline: none;
  border: 1px solid #318000;
  border-radius: 10px;
  box-shadow:inset 1px 1px 1px 1px #dcdcdc;
}

.product_img {
  width: 100px;
}

.product_row td {
  text-align: center;
}

.btn_delete {
  background: transparent;
  border: none;
  cursor: pointer;
}

.delete_img {
  width: 24px;
}

.checkbox {
  width: 18px;
  height: 18px;
}

/* .emtpy_cart {

} */