
header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 #dcdcdc;
}

#banner {
  margin: 0 auto;
  padding: 10px 50px;
  height: 130px;
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  margin-bottom: 20px;
}

.banner__user_menu {
  display: flex;
  position: relative;
  float: right;
}

#user:hover .user__info_wrapper {
  display: block;
}

.user__link {
  margin-left: 15px;
  height: 30px;
}

.user__link a {
  font-size: 14px;
}

.user__logout input {
  color: #6a6a6a;
  background: none;
  border: none;
  font-weight: 300;
  cursor: pointer;
}

.user__link a, .dir__list a {
  /* color: #318000; */
  color: #6a6a6a;
  text-decoration: none;
  font-weight: 300;
}

.user__info_name {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.down_ico {
  margin-right: 4px;
  width: 14px;
}

.user__info_wrapper {
  display: none;
  border: 0.5px solid #318000;
  box-shadow: 0 4px 4px 0 #dcdcdc;
  width: 280px;
  position: absolute;
  top: 28px;
  right: -36px;
  text-align: center;
}

.user__info_dir {
  display: flex;
  justify-content: space-around;
  padding: 14px;
}

.user__info_a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__info_ico {
  width: 24px;
  margin-bottom: 4px;
}

.banner__logo {
  margin: 10px 0 18px 0;
  display: flex;
  justify-content: center
}

.logo {
  margin: 0;
}
.logo__img {
  width: 200px;
}

.gnb {
  height: 54px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.ctg_toggler {
  display: flex;
  align-items: center;
}

.dir__list {
  height: 100%;
  display: flex;
  align-items: inherit;
}

.gnb__dir {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-right: 100px;
}

.dir__list a {
  font-size: 16px;
  min-width: 80px;
  text-align: center;
}

.dir__list a:hover, .user__link a:hover, .user__logout input:hover {
  font-weight: 500;
  color: #303030;
}

.dir__list a.active {
  font-weight: 500;
  color: #318000;
}

.gnb__side_search {
  display: flex;
  align-items: center;
}

.side_search {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  width: 200px;
  height: 26px;
  border-radius: 13px;
  margin-right: 24px;
}

.search_text {
  background: transparent;
  outline: none;
  border: 0;
  padding: 6px;
  position: relative;
  left: 4px;
}

.search_ico {
  position: relative;
  right: -15px;
}

.search_ico, .menu_toggle_ico {
  height: 22px;
  margin-right: 4px;
}

.bag_ico {
  width: 32px;
}

.ctg_box {
  display: none;
  z-index: 1;
  position: absolute;
  top: 202px;
  /* left: -110px; */
  background: white;
  border: 0.5px solid #318000;
  box-shadow: 0px 3px 10px -2.5px #3a3a3a;
  padding: 10px;
  padding-bottom: 24px;
  width: 124px;
}

.ctg:hover .ctg_box {
  display: block;
}

.ctg_box_layer {
  padding: 0;
}

.ctg_list {
  margin-top: 14px;
}