#login {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.form_wrapper {
  width: 100%;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 5px;
  height: 42px;
  outline: none;
  border: 1px solid #318000;
  border-radius: 10px;
  box-shadow:inset 1px 1px 1px 1px #dcdcdc;
  margin-top: 16px;
}

.login__search {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.link {
  font-size: 13px;
}

.link+.link {
  margin-left: 14px;
}

.btn {
  display: block;
  border: none;
  border-radius: 10px;
  background: #318000;
  color: aliceblue;
  height: 42px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 32px;
}

.btn:hover {
  background: #ff9f29;
  color: black;
}

.btn_join {
  margin-top: 14px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invalid {
  border: 2px solid #ff9f29;
}