#content {
  margin: 30px auto;
  max-width: 1000px;
}

.content__section {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.content__info {
  width: 500px;
  margin-left: 40px;
}

.content__name{
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.content__reception {
  display: flex;
}

.content__reviews {
  margin-left: 20px;
}

.content__description {
  margin: 0 0 20px 0;
}

.content__dc {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #dc7900;
}

.content__dc_price {
  font-size: 32px;
  font-weight: 600;
  color: #318000;
  margin-right: 20px;
}

.won {
  font-size: 16px;
}

.content__real_price {
  font-size: 22px;
  color: #cdccc7;
  text-decoration: line-through;
}

.content__detail {
  border-top: 1px solid #dcdcdc;
  margin: 20px 0px 10px 0;
}

dl {
  padding: 15px 0px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #dcdcdc;
  margin: 0;
}

dt {
  width: 100px;
  margin-right: 100px;
}

.content__price {
  display: flex;
  flex-direction: column;
}

.content__imgs {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_img {
  width: 460px;
}

.content__side_img {
  background-color: #e6e5e0;
  width: 100%;
  height: 100px;
}

.content__order {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.order_howmany {
  height: 40px;
  font-size: 18px;
  width: 130px;
  margin-right: 6px;
  padding-left: 10px;
  border-radius: 10px;
  border: .5px solid #dcdcdc;
}

.content__order_type {
  display: flex;
  margin-top: 20px;
}

.order_style {
  height: 40px;
  width: 130px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #e4e4e4;
}

.order_post + .order_post {
  margin-left: 10px;
}

.order_now {
  background-color: #318000;
  color: white;
}

.order_cart:hover {
  background-color: #dcdcdc;
}

.order_now:hover {
  background-color: #f59015;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.recommend {
  border: 1px solid #e6e5e0;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.prod_info {
  margin: 0 auto;
}