<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Who am I?</h1>
  </header>
  <main>
    <table style="margin-bottom: 10px; border-collapse: collapse; text-align: center;">
      <th>
        나의 프로필
      </th>
      <tbody>
        <tr style="border: 1px solid black;">
          <td>이름</td>
          <td id="name">문희원</td>
        </tr>
        <tr style="border: 1px solid black;">
          <td>전화번호</td>
          <td id="tel">01020501407</td>  
        </tr>
        <tr style="border: 1px solid black;">
          <td>이메일</td>
          <td id="email">munhw1408@gmail.com</td> 
        </tr>
      </tbody>
    </table>
    <input type="number" id="alerter" placeholder="1,2,3 중 입력하세요" style="outline: none; border: none; background-color: #e3e3e3; border-radius: 3px; height: 24px; width: 202px;"/>
    <button id="click_btn" style="background: transparent; border: 1px solid black; height: 24px;">클릭</button>
  </main>
  <script>
    const name = document.querySelector('#name').textContent;
    const tel = document.querySelector('#tel').textContent;
    const email = document.querySelector('#email').textContent;

    const btn = document.querySelector('#click_btn');
    const input = document.querySelector('#alerter');

    btn.addEventListener('click', () => {
      if (input.value === '1') alert(name);
      if (input.value === '2') alert(tel);
      if (input.value === '3') alert(email);
    });
  </script>
</body>
</html>