<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/index.css">
</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <div id="contents">
      <div id="promo">
        <a href="#">
          <img class="promo__img" src="img/ad.png" alt="프로모션">
        </a>
      </div>
      <!-- <div id="recommend">
        <div class="recommend__title">
          <h3>그리너 추천</h3>
        </div>
        <div class="recommend__items">
  
        </div>
      </div> -->
    </div>
  </main>
</body>